
<div class="container">

  <h1 class="text-center mb-5">
    Welcome to X-Team Workshops &#12484;
  </h1>

  <ng-template #showLogin>
    <div class="row">
      <button (click)="login()">Login With Facebook</button>
    </div>
  </ng-template>

  <div class="row" *ngIf="afAuth.authState | async as user; else showLogin">
    <button (click)="logout()">Logout</button>
    <input type="text" id="message"
            class="col-12 px-3 py-2 mb-3"
            placeholder="Chat here..."
            [(ngModel)]="msgVal"
            (keyup.enter)="chatSend($event.target.value)">
    <div class="chat-container" *ngFor="let item of items | async">
      <a href="#">{{user.displayName}}</a>
      <p>{{item.message}}</p>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
