/* You can add global styles to this file, and also import other style files */
$color-main: #4267B2;
$color-bg: #242226;
$color-light: #fff;
$color-text: #696969;

* {
    font-family: 'Raleway' !important ;
}

body {
    background-color:#242226;
    padding-top: 50px;
}

h1 {
    color: $color-text;
    font-weight: 300;
}

button {
    background: $color-main;
    color: #fff;
    border: 0;
    padding: 20px;
    width: 300px;
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}